body {
text-align: center;
width: 80%;
margin: 2% auto;
}

h2 {
  font-size: 30px;
}


.txt{
  margin-top: 1%;
  font-size: 24px;
}

.txt2{
  font-size: 20px;
}


.card{
  margin:30px;
  text-align: center;
  background-color: rgb(240,240,240);
  padding: 25px;
  border-radius: 4px;
  border-color: black;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  justify-content: space-around;
  flex-basis: 100px;
  flex-grow: 1;
}

.card-green{
  background-color: #79BC41
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.left{
  text-align: left;
}

